---
layout: default
---

<div class='container'>
    <header class="masthead text-center">

      <img class='img-responsive center-block' src="/images/people/로고.PNG" width="60%" height="60%" />
        
    
      <p>
          안녕하세요! 서울대학교 청소년 성소수자 연구모임 <b>아이리스(iris) 입니다.<br> 
          아이리스란 그리스 신화 속 여신으로 무지개를 타고 지상으로 내려와 하늘의 뜻을 전해주었다고 합니다.
          청소년 성소수자는 ‘청소년’이라는 이유로, ‘성소수자’라는 이유로 사회에서 오랜 시간 침묵해야만 했던 존재였습니다.
          이들의 삶과 고민, 그리고 꿈을 세상에 전하고자 다양한 연구자들이 모였습니다. 
          아이리스는 청소년 성소수자들이 안고 살아가는 여러 문제들-아웃팅과 학교폭력, 학업중단, 진로고민 등- 을 주제로 연구 프로젝트를 진행하고자 합니다. 
          <b>무지개를 타고 메세지를 전했던 아이리스 여신처럼, 청소년 성소수자들이 세상에 전하고자 하는 메세지를 여러분께 전해드리고 싶습니다.
          
          
     

      <a href="https://github.com/KordingLab"><i class="fa fa-github"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;
      <a href="https://twitter.com/KordingLab"><i class="fa fa-twitter"></i> KordingLab</a>&nbsp;&nbsp;&nbsp;
      <a href="mailto:kording@upenn.edu"><i class="fa fa-envelope-o"></i> kording@upenn.edu</a>
      </p>

      <div class="w3-container" style="   background: #f0f8ff; padding: 25px; border-radius:10px; border: 1px solid #5d8aa8">
        <div style="text-align:left">
          <h3> Recent News </h3>
          <u>Happenings of the last two months. Updated 11/18/2019</u>
          <span style="display: block; margin-bottom: 1em"></span>
          <div class="news">
              {% capture now %}{{'now' | date: '%s' | minus: 5184000 %}}{% endcapture %}
              <ul style="list-style-position:outside;padding:20px" >
                {% for new in site.data.news %}
                  {% capture date %}{{new.date | date: '%s' | plus: 0 %}}{% endcapture %}
                  {% if date > now %}
                    <li>
                      <span>
                        {{ new.details }}
                      </span>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
          </div>
        </div >
      </div>



      <span style="display: block; margin-bottom: 3em"></span>


      <a class="twitter-timeline" href="https://twitter.com/KordingLab" data-widget-id="695051708246941697">Tweets by @KordingLab</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <span style="display: block; margin-bottom: 3em"></span>
      Department of Bioengineering and Department of Neuroscience at University of Pennsylvania<br>
      404 Richards Building, 3700 Hamilton Walk, Philadelphia, PA 19104, Philadelphia, PA 19104
      <span style="display: block; margin-bottom: 3em"></span>

    </header>
</div>
